version: '3.2'

volumes:
    grafana_data: {}

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
  grafana:
    image: grafana/grafana
    user: "472"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    restart: always
    depends_on:
      - prometheus
  example-hapi-server:
    image: node:erbium-alpine
    working_dir: /example-hapi-server
    command: yarn start
    ports:
      - 4000:4000
    volumes:
      - type: bind
        source: ./example-hapi-server
        target: /example-hapi-server
    